{% extends "index.html" %}

{% load static %}

{% block content %}
    <main class="mt-1 flex items-center flex-row gap-16 justify-center min-h-[70vh]">
        <div data-aos="fade-left" class="flex justify-start">
            <img src="https://avatars.githubusercontent.com/u/97150877?v=4" fetchpriority="high" width="300" height="300"
            class="w-[450px] h-auto rounded-full border-4 border-amber-200 shadow-amber-300"/>
        </div>
        <div class="space-y-2 text-left px-10">
            <p data-aos="fade-right" class="text-amber-200">
                Hello Classmates!, I'm
            </p>
            <h1 data-aos="fade-up" class="text-5xl font-bold text-white">
                Renato Santos
            </h1>
            <p data-aos="zoom-in" data-aos-delay="300" class="text-lg text-white cursor-pointer underline-offset-4 hover:underline flex gap-2">
                <img width="20px" src="https://www.svgrepo.com/show/303161/gmail-icon-logo.svg" />renatodsantosjr9@gmail.com
            </p>
            <p data-aos="fade-right" data-aos-delay="300" class="text-white pr-4 max-w-[400px]">
                I am an aspiring full stack developer that focuses on backend development and it's maintainability and scalability through testing. 
            </p>
        </div>
    </main>
{% endblock %}